.footer__subtitle {
  margin: 0;
  padding: 13px 0 39px;
  max-width: 186px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(28/16);
  color: #D9DBDE;
}

@media screen and (max-width: 767px) {
  .footer__subtitle {
    padding: 13px 0 13px;
  }
}