.benefits__title {
  font-size: 36px;
  font-weight: 600;
  line-height: calc(54/36);
  letter-spacing: -0.01em;
}

@media screen and (max-width: 860px) {
  .benefits__title  {
    font-size: 26px;
    line-height: calc(30/26);
  }
}