.interiors__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 3px;
}

@media screen and (max-width: 1400px) {
  .interiors__list {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
}

@media screen and (max-width: 520px) {
  .interiors__list {
    grid-template-columns: repeat(1, 1fr);

  }
}